body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.wrapper {
  margin: 60px;
  position: relative;
  width: 400px;
  height: 440px;
  display: flex;
  border: solid;
  backdrop-filter: blur(20px);
  /*justify-content: center;*/
  align-items: center;
  background: transparent;
  /*overflow: hidden;*/
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box {
  width: 100%;
  padding: 40px;
}

.remember-forgot {
}

.login-register {
  color: white;
}

.login-register p a {
  color: white;
}

.register-link {
}

.wrapper .form-box.login {
  transition: 0.5s;
}

.wrapper.active .form-box.login {
  transform: translateX(-410px);
  transition: 0.5s;
}

.wrapper .form-box.register {
  position: absolute;
  transform: translateX(410px);
  transition: 0.5s;
}

.wrapper.active .form-box.register {
  transform: translate(0px);
  transition: 0.5s;
}

.input-box {
  justify-content: center;
}

.input-box label {
  position: absolute;
  pointer-events: none;
}

.input-box input {
  background: black;
  font-size: 1.2em;
  border: solid;
  color: white;
  border-color: rgb(0, 217, 133);
  border-width: 1px;
}

.button {
  justify-content: center;
  width: 50%;
}
